<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá! O livro <%= @book.title %> lhe foi emprestado.</h1>
      <h4>Você deve comparecer a biblioteca para devolver o livro até <%=@loan.return_date%> !<p></p> 
     </h4>
  </body>
</html>