<div class="">
  <div class="page-title">
    <div class="title_left">
    <h3>Operação em andamento...</h3>
    </div>
  </div>

  <div class="clearfix"></div>

<div class="modal show" id="processing-modal" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <div class="text-center">
                  <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
                  <h3>Operação em andamento...</h3>
                  <h2>O robô está realizando a operação. Quando ele chegar na bancada, clique em continuar para finalizar a operação.</h2>
                  <%= link_to '<i aria-hidden="true"></i> Continuar</a>'.html_safe, return_robot_path("#{params[:case_id]}"), class: "btn btn-md btn-success", onclick: "return confirm('O robô já está na bancada?');" %> 
              </div>
          </div>
      </div>
  </div>
</div>


</div>