<div class="">
  <div class="page-title">
    <div class="title_left">

      <h3>Solicitar Livro</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md- col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Informe seus dados</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <%= form_for :loan_context, url: create_loan_path, html: {class: "form-horizontal form-label-left input_mask"} do |f| %>
          <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12 form-group ">
              <%= f.label :matricula,"Matrícula*"%>
              <%= f.text_field :matricula, class: 'form-control', placeholder: 'Somente números', minlength: '9', required: ''%>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
            <%= f.label :password,"Senha*"%>
            <%= f.password_field :password, class: 'form-control',minlength: '6', maxlength: '15', required: ''%>
          </div>
            <%= hidden_field_tag :book_id, "#{params[:book_id]}" %>
          </div>
          <div class="ln_solid"></div>
          <div class="pull-right">
            <div class="btn-block">
              <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-md btn-default" %>
              <button class="btn btn-primary" type="reset">Resetar</button>
              <%= f.submit "Enviar", class: 'btn btn-success'%>
            </div>
          </div>
          <% end%>
        </div>
      </div>
    </div>
  </div>
 </div>
