<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Devolver Livro</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md- col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Informe o código de barras do livro</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <%= form_for :return_book, url: loans_return_book_path, html: {class: "form-horizontal form-label-left input_mask"} do |f| %>
          <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12 form-group ">
              <%= f.label :bar_code,"Código de Barras*"%>
              <%= f.text_field :barcode, class: 'form-control', placeholder: 'Somente números', minlength: '1', maxlength: '15', required: ''%>
            </div>
            </div>
            <%= hidden_field_tag :user_id, @user.id %>
          </div>
          <div class="ln_solid"></div>
          <div class="pull-right">
            <div class="btn-block">
              <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-md btn-default" %>
              <button class="btn btn-primary" type="reset">Resetar</button>
              <%= f.submit "Enviar", class: 'btn btn-success'%>
            </div>
          </div>
          <% end%>
        </div>
      </div>
    </div>
  </div>
 </div>
