
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bibliotech </title>
        <!-- Bootstrap core CSS -->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= stylesheet_link_tag 'css/bootstrap.min.css', 'css/custom.css', media: 'all'%>
        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag 'js/jquery.min.js', 'js/bootstrap.min.js', 'js/custom.js'%>

        

        <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                        <a href="<%= root_path %>" class="site_title"><span><%= image_tag("bibliotech_branco.png",{class: "img-logo"}) %></span></a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- menu prile quick info -->
                        <!-- /menu prile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                  <li>
                                    <a href="<%= books_path%>"><i class="fa fa-hand-lizard-o"></i> Solicitar Livro</span></a>
                                  </li>
                                  <li>
                                    <a href="<%= loan_index_path%>"><i class="fa fa-book"></i>Devolver Livro</span></a>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                    </div>
                </div>
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars" aria-hidden="true"></i></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="right_col" role="main">
                    <% unless flash.empty? %>
                    <!-- top tiles -->
                    <div class="row tile_count">
                        <div class="panel-body">
                            <% flash.each do |key, value| %>
                            <div style="padding-top: 50px;">
                                <div class="alert alert-<%=key%> alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                    </button>
                                    <%= value %>.
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <%end%>
                    <%= yield %>
                </div>
                <div class="right_col" role="main">
                    <!-- /top tiles -->
                    <br />
                    <!-- footer content -->
                    <footer>
                        <div class="copyright-info">
                            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>  
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>
                <!-- /page content -->
            </div>
        </div>
        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>
        
        <!-- gauge js -->
        
        <!-- flot js -->
        <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
    
        <script>
            $(document).ready(function() {
              // [17, 74, 6, 39, 20, 85, 7]
              //[82, 23, 66, 9, 99, 6, 2]
              var data1 = [
                [gd(2012, 1, 1), 17],
                [gd(2012, 1, 2), 74],
                [gd(2012, 1, 3), 6],
                [gd(2012, 1, 4), 39],
                [gd(2012, 1, 5), 20],
                [gd(2012, 1, 6), 85],
                [gd(2012, 1, 7), 7]
              ];
            
              var data2 = [
                [gd(2012, 1, 1), 82],
                [gd(2012, 1, 2), 23],
                [gd(2012, 1, 3), 66],
                [gd(2012, 1, 4), 9],
                [gd(2012, 1, 5), 119],
                [gd(2012, 1, 6), 6],
                [gd(2012, 1, 7), 9]
              ];
              $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                data1, data2
              ], {
                series: {
                  lines: {
                    show: false,
                    fill: true
                  },
                  splines: {
                    show: true,
                    tension: 0.4,
                    lineWidth: 1,
                    fill: 0.4
                  },
                  points: {
                    radius: 0,
                    show: true
                  },
                  shadowSize: 2
                },
                grid: {
                  verticalLines: true,
                  hoverable: true,
                  clickable: true,
                  tickColor: "#d5d5d5",
                  borderWidth: 1,
                  color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                  tickColor: "rgba(51, 51, 51, 0.06)",
                  mode: "time",
                  tickSize: [1, "day"],
                  //tickLength: 10,
                  axisLabel: "Date",
                  axisLabelUseCanvas: true,
                  axisLabelFontSizePixels: 12,
                  axisLabelFontFamily: 'Verdana, Arial',
                  axisLabelPadding: 10
                    //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                },
                yaxis: {
                  ticks: 8,
                  tickColor: "rgba(51, 51, 51, 0.06)",
                },
                tooltip: false
              });
            
              function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
              }
            });
        </script>
        <!-- worldmap -->

        <script>
            $(function() {
              $('#world-map-gdp').vectorMap({
                map: 'world_mill_en',
                backgroundColor: 'transparent',
                zoomOnScroll: false,
                series: {
                  regions: [{
                    values: gdpData,
                    scale: ['#E6F2F0', '#149B7E'],
                    normalizeFunction: 'polynomial'
                  }]
                },
                onRegionTipShow: function(e, el, code) {
                  el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
              });
            });
        </script>
        <!-- skycons -->
        
        <script>
            var icons = new Skycons({
                "color": "#73879C"
              }),
              list = [
                "clear-day", "clear-night", "partly-cloudy-day",
                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                "fog"
              ],
              i;
            
            for (i = list.length; i--;)
              icons.set(list[i], list[i]);
            
            icons.play();
        </script>
        <!-- dashbord linegraph -->
        <script>
            Chart.defaults.global.legend = {
              enabled: false
            };
            
            var data = {
              labels: [
                "Symbian",
                "Blackberry",
                "Other",
                "Android",
                "IOS"
              ],
              datasets: [{
                data: [15, 20, 30, 10, 30],
                backgroundColor: [
                  "#BDC3C7",
                  "#9B59B6",
                  "#455C73",
                  "#26B99A",
                  "#3498DB"
                ],
                hoverBackgroundColor: [
                  "#CFD4D8",
                  "#B370CF",
                  "#34495E",
                  "#36CAAB",
                  "#49A9EA"
                ]
            
              }]
            };
            
            var canvasDoughnut = new Chart(document.getElementById("canvas1"), {
              type: 'doughnut',
              tooltipFillColor: "rgba(51, 51, 51, 0.55)",
              data: data
            });
        </script>
        <!-- /dashbord linegraph -->
        <!-- datepicker -->
        <script type="text/javascript">
            $(document).ready(function() {
            
              var cb = function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
              }
            
              var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                  days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                  'Today': [moment(), moment()],
                  'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month': [moment().startOf('month'), moment().endOf('month')],
                  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                  applyLabel: 'Submit',
                  cancelLabel: 'Clear',
                  fromLabel: 'From',
                  toLabel: 'To',
                  customRangeLabel: 'Custom',
                  daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                  monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                  firstDay: 1
                }
              };
              $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
              $('#reportrange').daterangepicker(optionSet1, cb);
              $('#reportrange').on('show.daterangepicker', function() {
                console.log("show event fired");
              });
              $('#reportrange').on('hide.daterangepicker', function() {
                console.log("hide event fired");
              });
              $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
              });
              $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
                console.log("cancel event fired");
              });
              $('#options1').click(function() {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
              });
              $('#options2').click(function() {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
              });
              $('#destroy').click(function() {
                $('#reportrange').data('daterangepicker').remove();
              });
            });
        </script>
        <script>
            NProgress.done();
        </script>
        <!-- /datepicker -->
        <!-- /footer content -->
    </body>
</html>